.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    width: 600px;
    margin: 1em auto;
    padding-top: 30px;
}

.button_count {
    padding: .8em;
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
}

.text {
    font-size: 1.8em;
    font-weight: 700;
}